In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels
import statsmodels.api as sm
import sklearn

In [2]:
df = pd.read_csv('/content/StudentsPerformance (1).csv')

**.head() to quickly view the first few rows of a DataFrame.**

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

**.shape attribute is used to quickly find out the dimensions of a DataFrame**

In [4]:
df.shape

(1000, 8)

 **.count() method is used to count the number of non-null (not missing) values in each column (or row) of a DataFrame.**

In [5]:
df.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [7]:
df.value_counts()

gender  race/ethnicity  parental level of education  lunch         test preparation course  math score  reading score  writing score
male    group E         some high school             standard      none                     94          88             78               1
female  group A         associate's degree           free/reduced  none                     37          57             56               1
                                                                                            41          51             48               1
                                                                                            65          85             76               1
                                                     standard      completed                55          65             62               1
                                                                                                                                       ..
                        high school                  standard      completed                68          80             76               1
                                                     free/reduced  completed                77          88             85               1
                                                                                            53          50             60               1
                                                                                            34          48             41               1
                        bachelor's degree            standard      none                     59          72             70               1
Name: count, Length: 1000, dtype: int64

** .isnull() method is used to detect missing or null values in your DataFrame.**

In [8]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

How do students who get ‘standard’ lunch compare to those with ‘free/reduced’ lunch on their scores?

In [9]:
df.groupby('lunch')[['math score', 'reading score', 'writing score']].mean()

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

**Which combination of demographics (gender, group, lunch, parental education, test prep) is most common?**

In [10]:
df.groupby([
    'gender',
    'race/ethnicity',
    'parental level of education',
    'lunch',
    'test preparation course'
]).size().reset_index(name='count')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,count
0,female,group A,associate's degree,free/reduced,none,3
1,female,group A,associate's degree,standard,completed,2
2,female,group A,associate's degree,standard,none,1
3,female,group A,bachelor's degree,standard,none,3
4,female,group A,high school,free/reduced,completed,3
...,...,...,...,...,...,...
206,male,group E,some college,standard,completed,4
207,male,group E,some college,standard,none,12
208,male,group E,some high school,free/reduced,completed,2
209,male,group E,some high school,standard,completed,6
210,male,group E,some high school,standard,none,4

**Who are the top 10 scoring students?**

In [11]:
df['math score'] + df['reading score'] + df['writing score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64